<body style="text-align: center;">
    <p>custom-map works!</p>
    <h1 style="text-align: center;">An angular app with a custom ArcGIS Maps SDK for Javascript map</h1>
    <div #mapViewNode></div>
    <p>This code was adapted from <a href="https://developers.arcgis.com/javascript/latest/get-started-angular/">this sample</a>, which demonstrates how to add a web map but not how to add a map-view. I have it working in a stand-alone Angular workspace but cannot get it to work in a multi-component Angular workspace.</p>
</body>
