<header>
<nav class="navbar navbar-expand-md navbar-light bg-light py-3" id="navbar">
      <div class="container">
        <a href="http://ecocrisis.net" class="navbar-brand">{{title}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0" routerLinkActive="active" id="menu">
              <li class="nav-item">
                <a href="/home" class="nav-link" [routerLinkActive]="['active']" routerLink="home">Home </a>
              </li>
              <li class="nav-item">
                <a href="/map" class="nav-link" [routerLinkActive]="['active']" routerLink="map">Map</a>
              </li>
              <li class="nav-item">
                <a href="/custom" class="nav-link" [routerLinkActive]="['active']" routerLink="custom">Custom Map</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
</header>
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>